/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.4.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/


/* montserrat-alternates-regular - latin */
/* montserrat-alternates-regular - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-alternates-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'),
  url('../fonts/montserrat-alternates-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-alternates-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-alternates-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-alternates-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-alternates-v9-latin-regular.svg#MontserratAlternates') format('svg'); /* Legacy iOS */
}

/* montserrat-alternates-700 - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-alternates-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'),
  url('../fonts/montserrat-alternates-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-alternates-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-alternates-v9-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-alternates-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-alternates-v9-latin-700.svg#MontserratAlternates') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'SF Speakeasy';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/speakeasy'), local('speakeasy'), url('../fonts/speakeasy.woff') format('woff'), url('../fonts/speakeasy.woff') format('truetype');
}

@font-face {
  font-family: 'Neutra Display';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/neutradisplay'), local('neutradisplay'), url('../fonts/neutradisplay.woff') format('woff'), url('../fonts/neutradisplay.woff') format('truetype');
}

/* Hack for language switcher */
.nav-link img {
  display: inline;
}

.large-slider {
  font-size: 90px;
  font-family: "Neutra Display", sans-serif;
  color: #ffffff;
  line-height: 1.2;
}

.small-slider {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;

}
.site-slogan-montserrat {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 17px;
  padding-top: 6px;
  font-weight: 700;
}
.site-slogan-montserrat-2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 17px;
  padding-top: 6px;
  font-weight: 500;
}

.header-first {
  padding: 24px 0 0 0;
}

@media (min-width: 992px) {
  .fixed-header-on .header-first {
    padding: 17px 0 0 0;
  }
}
.site-slogan-speakeasy {
  font-family: "SF Speakeasy", sans-serif;
  font-size: 26px;
  padding-top: 6px;
}

.tickets-bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

p.large-points {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.force-dark-bg {
  border-bottom: 0;
  border-top: 0;
}

.force-dark-bg:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.program-header {
  margin-bottom: 0px !important;
}

.program-details {
  margin-bottom: 30px !important;
}

.program-details-left {
  margin-right: 22px !important;
}

.program-details-right {
  margin-left: 22px !important;
}


.program-table {
  width: 100%
}

.program-table tbody{
  background-color: #373737;
}

.program-table tr td {
  padding: 10px;
}

.program-table .full-pass {
  font-weight: 400;
  line-height: 0px;
}

.program-table tbody tr td span{
  display: block;
}

.program-table .hour {
  font-size: 1.3em;
  font-weight: 400;
}

.program-table .hour a{
  text-decoration: none !important;
}

.program-table .title {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 10px
}

.program-table .location {
  padding-top: 10px;
}

.program-table .location a {
  text-decoration: none;
}

.program-table .arrow {
  width: 5%;
}

.dark-bg table,
.dark-bg tbody{
  background-color: rgba(80, 80, 80, 0.8);
}

.dark-bg table .-lighter {
  background-color: rgb(100, 100, 100);
  font-weight: 600;
  vertical-align: middle;
}

.table-schedule tr td:first-of-type {
    width: 125px;
}

.table-schedule p {
  margin-bottom: 0;
}

.table-schedule td {
  vertical-align: middle;
}

.full-image-container:before {
  display: none;
}

.team-member img {

}

.vs-separator {
  position: relative;
}

.vs {
  font-size: 50px;
  position: relative;
  width: 58px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-small {
  font-size: 15px;
}
.price-table {
  display: table;
  width: 100%;
}

.price-table-tr {
  display: table-row;
}

.price-table-tr > div {
  display: table-cell;
  padding: 5px 10px;
  width: 50%
}

table.price-table td{
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.00);}


.wpcf7-form {
  font-weight: 300;
  font-size: 14px;
}

.wpcf7-form label{
  font-weight: 500;
  font-size: 14px;
}

.wpcf7-form p {
  text-transform: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.wpcf7-form .wpcf7-form-control-wrap {
  display: block;
}
.wpcf7-form input, .wpcf7-form textarea {
  border: 1px solid #ffffff6b;
  width: 70%;
}

span.wpcf7-not-valid-tip{
  width: 70%;
}

span.wpcf7-not-valid-tip {
  position: static;
  margin-top: 5px;
}

span.wpcf7-list-item { display: table-row; }
span.wpcf7-list-item * { display: table-cell; }
span.wpcf7-list-item *:first-child { display: table-cell; width: 100px;}


@media (max-width: 991px) {
  .transparent-header.gradient-background-header header.header.dark.transparent-header-on {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 85%, transparent 100%);
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 85%, transparent 100%); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 85%, transparent 100%);
    padding-bottom: 37px;
  }

  .header .navbar-brand {
    padding: 22px 0;
  }
}

.year-list {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center
}
.year-list li {
  display: inline;
  list-style-type: none;
  /*padding: 50px 50px 50px 0;*/
}

.year-list li span {
  border: 2px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.year-list li span:hover {
  background-color: rgba(255,255,255,0.3);
}
